<!DOCTYPE html>

<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	    <link href='https://fonts.googleapis.com/css?family=Lobster|Muli' rel='stylesheet'>
	    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-custom">
		    <h1 class="navbar-brand m-3 mr-5 logo">L</h1>
		    <div id="join-list">
				<div id="join-list-bar">
					<span id="join-list-bar-span">
						<form action="{{ url_for('join_list') }}" class="form-inline" method='post'>
							<input id="join-list-bar-input" class="form-control" type="text" name="listcode" value="{{ request.form.listcode }}" placeholder="Enter a list code!" autocomplete="off">
						</form>
					</span>
				</div>
			</div>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    	<span class="navbar-toggler-icon text-dark"></span>
		    </button>

		    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
		      	<ul class="navbar-nav">
		        	<li class="nav-item">
		          		<a class="nav-link" data-toggle="modal" data-target="#new-list" href="#new-list">Create a List</a>
		        	</li>
		        	<li class="nav-item dropdown">
		          		<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		            		To Dos<sup class="text-danger" id="todo-notif"><strong>{% if assigned_items %}{{ assigned_length }}{% endif %}</strong></sup>
		          		</a>
		          		<div class="dropdown-menu dropdown-menu-right mt-sm-5 border border-0" id="todo-dropdown" aria-labelledby="navbarDropdown">
		          		{% if not assigned_items %}
							<span class="dropdown-item-text">Nothing to do!</span>
						{% else %}
							{% for row in assigned_items %}
							<a class="dropdown-item" href="{{ url_for('toDoList', lid=row['lid']) }}">
								<span>{{ row['itemname'] }}</span>
								<span><small>({{ row['listname'] }})</small></span>
							</a>
							{% endfor %}
						{% endif %}
		          		</div>
		        	</li>
			        <li class="nav-item">
			          	<a class="nav-link" href="#">Profile</a>
			        </li> 
		      	</ul>
		    </div>
		</nav>
        <div class="container-fluid" id="list-container">
	        <div class="row">
		        <div class="features-wrap offset-sm-1 col-sm-10">
		        {% if not list_list %}
					<p>No lists yet! Try creating one or entering a list code above</p>
				{% else %}
					{% for row in list_list %}
						<a class = "feature-link" href = "{{ url_for('toDoList', lid=row.lid) }}">
				            <div class="feature">
				            	<div class="feature-inner">
				                	<h2 class="feature-title">{{ row['listname'] }}</h2>
				                	<!-- Should be a 120 char limit -->
				                	<p class="text-sm">
				                  	{{ row['description'] }}
				                	</p>
				              	</div>
				            </div>
				        </a>
				    {% endfor %}
				{% endif %}
			    </div>
			</div>
		</div>
		<div class="modal fade" id="new-list" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    	<div>
                    		<h4 class="logo">L</h4>
                    	</div>
                    	<div class="modal-title-container">
                        	<h4 class="modal-title"><strong>New List</strong></h4>
                        </div>
                        <div>
                        	<button type="button" class="close" data-dismiss="modal">&times;</button>
                    	</div>
                    </div>
                    <form autocomplete="off" method="post">
	                    <div class="modal-form-content">
	                    	<div onclick="focusInput()" class="new-list-div">
	                    		<label for="name" class="new-list-label">Name:</label><br>
	                        	<input id="name" name="listname" class="new-list-input" type="text" value="{{ request.form.listname }}" required>
	                    	</div>
	                    	<div onclick="focusInput()" class="new-list-div">
	                    		<label for="description" class="new-list-label">Description:</label><br>
	                        	<textarea id="description" maxlength="120" name="description" class="new-list-input" type="text" value="{{ request.form.description }}" required></textarea>
	                    	</div>
	                    	<div onclick="focusInput()" class="new-list-div">
	                    		<label for="password" class="new-list-label">Password (Optional):</label><br>
	                        	<input id="password" name="password" class="new-list-input" type="password" value="{{ request.form.password }}">
	                    	</div>
	                    	<div onclick="focusInput()" class="new-list-div">
	                    		<label for="name" class="new-list-label">Confirm Password (Optional):</label><br>
	                        	<input id="confirmpassword" name="confirmpassword" class="new-list-input" type="password" value="{{ request.form.confirmpassword }}">
	                    	</div>
	                	</div>
	                	<div class="modal-footer">
	                		<button class="btn new-list-submit" type="button">Create</button>
	                	</div>
                	</form>
                </div>
            </div>
        </div>
		<script>

		function focusInput() {
			this.closest('input').focus()
		}
		</script>
	</body>
</html>